//----------LOGIN----------//
.signUp {
	.header {
		h1 {
			margin: 0px;
		}
		a:hover {
			text-decoration: none;
		}
		padding: 20px 50px;
		background-color: #323C46;	
	}
	.body {
		.garis {
			border-bottom: 3px solid #323C46;
			margin-bottom: 20px;
		}
		.checkbox {
			padding: 0px 15px;
			margin-bottom: 15px;
		}
		button.labelink {
			width: 100%;
			border-radius: 20px;
			margin-bottom: 20px;
			background-color: #5cb85c;
			color: $menu_color;
			padding: 10px 15px;
			border: 1px solid #283337;
			font-size: 10px;
			font-weight: 600;
			font-family: 'Open Sans', sans-serif;
			letter-spacing: 0.8px;
		}
		button.labelink:hover {
			text-decoration: none;
			background-color: $menu_color;
			color: #283337;
		}	
		.signIn {
			a {
				padding: 10px 15px;
				width: 100%;
				border-radius: 20px;
				margin-bottom: 20px;
				background-color: #337ab7;
			}
			a:hover {
				background-color: $menu_color;
				color: #273236;
			}
		}
		background-color: #273236;
		display: inline-block;
		width: 100%;
		padding: 20px 50px;
	}
	margin: 100px auto auto;
	width: 500px;
}