//----------TOURNAMENT----------//
.tournament {
	//----------LIVE-MATCH----------//
	.live-match {
		//----------TABLE----------//
		table {
			td {
				a {
					text-decoration: none;
					color: $menu_color;
				}
				a:hover {
					color: #728d9e;
				}
				a.team {
					font-weight: 400; 
				}
				p, i {
					color: #728d9e;
				}
				p {
					margin: 0px;
				}
				span.icon {
					background-color: #2a2a2a;
				    border: 1px solid #2a2a2a;
				    border-radius: 15px;
				    color: #4a4a4a;
				    display: inline-block;
				    font-size: 10px;
				    font-weight: bold;
				    height: 23px;
				    line-height: 18px;
				    margin: -2px 2px;
				    text-align: center;
				    vertical-align: middle;
				    width: 23px;
				    padding: -5px 5px;
				    pointer-events: help;
				}
				span.nation {
					color: $menu_color;
					margin: 0px 5px;
				}
				span {
					text-decoration: uppercase;
					font-size: 12px;
					color: #728d9e;
				}
				padding: 5px;
				border-bottom: 1px solid #4E595F;
			}
			td.status {
				cursor: help;
			}
			width: 100%;
		}
		h3 {
			margin-top: 0px;
			padding: 15px 10px;
			color: $menu_color;
		}
		h3:before {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 3%;
		    margin-left: 0%;
		    margin-right: 20px;
		    border-top: 5px solid $menu_color;
		}
		h3:after {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 72%;
		    margin-right: -100%;
		    margin-left: 20px;
		    border-top: 5px solid $menu_color;
		}
		span {
			color: #c9244f;
		}
		//----------TABLE-BOTTOM----------//
		.table-bottom {
			.navigation, .font {
				padding: 0px;
			}
			.pagination {
				a, span {
					color: #2A2A2A;
				}
				li {
					background-color: #728d9e !important;
				}
				font-size: 10px;
				margin: 10px;
			}
			.font {
				p {
					color: #728d9e;
					margin: 10px;
				}
			}
			display: inline-block;
			width: 100%;
		}
		background-color: #283337;
		border: 1px solid #283337;
		margin-bottom: 30px;
	}

	//----------UPCOMING-MATCH----------//
	.upcoming-match {
		//----------TABLE----------//
		table {
			td {
				a {
					text-decoration: none;
					color: $menu_color;
				}
				a:hover {
					color: #728d9e;
				}
				a.team {
					font-weight: 400; 
				}
				p, i {
					color: #728d9e;
				}
				p {
					margin: 0px;
				}
				span.icon {
					background-color: #2a2a2a;
				    border: 1px solid #2a2a2a;
				    border-radius: 15px;
				    color: #4a4a4a;
				    display: inline-block;
				    font-size: 10px;
				    font-weight: bold;
				    height: 23px;
				    line-height: 18px;
				    margin: -2px 2px;
				    text-align: center;
				    vertical-align: middle;
				    width: 23px;
				    padding: -5px 5px;
				    pointer-events: help;
				}
				span.nation {
					color: $menu_color;
					margin: 0px 5px;
				}
				span {
					text-decoration: uppercase;
					font-size: 12px;
					color: #728d9e;
				}
				padding: 5px;
				border-bottom: 1px solid #4E595F;
			}
			td.status {
				cursor: help;
			}
			width: 100%;
		}
		h3 {
			margin-top: 0px;
			padding: 15px 10px;
			color: $menu_color;
		}
		h3:before {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 3%;
		    margin-left: 0%;
		    margin-right: 20px;
		    border-top: 5px solid $menu_color;
		}
		h3:after {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 62%;
		    margin-right: -100%;
		    margin-left: 20px;
		    border-top: 5px solid $menu_color;
		}
		span {
			color: #c9244f;
		}
		//----------TABLE-BOTTOM----------//
		.table-bottom {
			.navigation, .font {
				padding: 0px;
			}
			.pagination {
				a, span {
					color: #2A2A2A;
				}
				li {
					background-color: #728d9e !important;
				}
				font-size: 10px;
				margin: 10px;
			}
			.font {
				p {
					color: #728d9e;
					margin: 10px;
				}
			}
			display: inline-block;
			width: 100%;
		}
		background-color: #283337;
		border: 1px solid #283337;
		margin-bottom: 30px;		
	}

	//----------RECENT-RESULT----------//
	.recent-result {
		//----------TABLE----------//
		table {
			td {
				a {
					text-decoration: none;
					color: $menu_color;
				}
				a:hover {
					color: #728d9e;
				}
				a.team {
					font-weight: 400; 
				}
				p {
					color: $menu_color;
					margin: 0px;
				}
				span.icon {
					background-color: #2a2a2a;
				    border: 1px solid #2a2a2a;
				    border-radius: 15px;
				    color: #4a4a4a;
				    display: inline-block;
				    font-size: 10px;
				    font-weight: bold;
				    height: 23px;
				    line-height: 18px;
				    margin: -2px 2px;
				    text-align: center;
				    vertical-align: middle;
				    width: 23px;
				    padding: -5px 5px;
				    pointer-events: help;
				}
				span.nation {
					color: $menu_color;
					margin: 0px 5px;
				}
				span {
					text-decoration: uppercase;
					font-size: 12px;
					color: #728d9e;
				}
				padding: 5px;
				border-bottom: 1px solid #4E595F;
			}
			td.status {
				cursor: help;
			}
			width: 100%;
		}
		h3 {
			margin-top: 0px;
			padding: 15px 10px;
			color: $menu_color;
		}
		h3:before {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 3%;
		    margin-left: 0%;
		    margin-right: 20px;
		    border-top: 5px solid $menu_color;
		}
		h3:after {
			content:"";
		    display: inline-block;
		    height: 0.5em;
		    vertical-align: bottom;
		    width: 69%;
		    margin-right: -100%;
		    margin-left: 20px;
		    border-top: 5px solid $menu_color;
		}
		span {
			color: #c9244f;
		}
		//----------TABLE-BOTTOM----------//
		.table-bottom {
			.navigation, .font {
				padding: 0px;
			}
			.pagination {
				a, span {
					color: #2A2A2A;
				}
				li {
					background-color: #728d9e !important;
				}
				font-size: 10px;
				margin: 10px;
			}
			.font {
				p {
					color: #728d9e;
					margin: 10px;
				}
			}
			display: inline-block;
			width: 100%;
		}
		background-color: #283337;
		border: 1px solid #283337;
		margin-bottom: 30px;
	}
	font-family: 'Open Sans', sans-serif;
}
